<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MessengerServer.Properties.Settings.UserConnectionString"
            connectionString="Driver={Microsoft Access Driver (*.mdb, *.accdb)};Dbq=|DataDirectory|\User.mdb;"
            providerName="System.Data.Odbc" />
        <add name="MessengerServer.Properties.Settings.UsersConnectionString"
            connectionString="Driver={Microsoft Access Driver (*.mdb, *.accdb)};Dbq=|DataDirectory|\Users.accdb;"
            providerName="System.Data.Odbc" />
    </connectionStrings>
<startup><supportedRuntime version="v9.0"/></startup></configuration>
